body {
  display: flex;
  flex-direction: column;
  font-family: Lexend, Arial, sans-serif;
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  color: #ddd;
  background: #222;
}

dialog {
  color: #ddd;
  padding: 10px;
  border: 2px #888 solid;
  border-radius: 1rem;
  background: #222;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

#console {
  width: 45vw;
  height: 50vh;
}
#stdout p {
  margin: 0px;
  word-break: break-word;
  white-space: break-spaces;
}
#stdout .error {
  color: #d88;
}

input, button {
  color: #ddd;
  padding: 3px;
  margin: 2px;
  border: 2px #888 solid;
  border-radius: 0.5rem;
  background-color: transparent;
}
button {
  cursor: pointer;
  border-radius: 0.25rem;
}

iframe {
  flex: 1;
  border: 2px #888 solid;
  background: #fff;
}

.nav {
  display: flex;
  align-items: center;
}
.nav span {
  flex: 1;
}