body {
  font-family: Lexend, Arial, sans-serif;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  background: #222;
}
a {
  color: #79d;
}
#box {
  position: absolute;
  inset: 0px;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
}
iframe {
  flex: 1;
  border: none;
  background: #222;
  box-sizing: border-box;
}