body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  color: #ddd;
  font-family: Lexend, Arial, sans-serif;
  margin: 0px;
  background-color: #2a2a2a;
}
input {
  color: currentColor;
  border: none;
  outline: none;
  background-color: #1a1a1a;
}
button {
  cursor: pointer;
  color: currentColor;
  padding: 5px;
  border: none;
  background: none;
  transition: background 500ms;
}
button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}

dialog {
  color: #ddd;
  font-family: Lexend, Arial, sans-serif;
  padding: 10px;
  border: 2px #383838 solid;
  border-radius: 1rem;
  background: #2a2a2a;
  overflow: visible;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

#tabs {
  height: 30px;
  background-color: #1a1a1a;
}
#tabs div {
  display: flex;
  width: fit-content;
  height: 30px;
}
#tabs button {
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 175px;
  min-width: 0px;
  text-align: left;
  margin: 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  container-type: inline-size;
}
@container (max-width: 45px) {
  #tabs button .title {
    display: none;
  }
}
@container (max-width: 35px) {
  #tabs button[active] img {
    display: none;
  }
}
@container (max-width: 30px) {
  #tabs button:not([active]) .close {
    display: none;
  }
}
#tabs button:hover {
  background-color: #383838;
}
#tabs button.add {
  flex: 0;
  min-width: 26px;
  border-radius: 1rem;
}
#tabs button[active] {
  margin-bottom: 0px;
  border-radius: 0.75rem 0.75rem 0px 0px;
  background-color: #2a2a2a;
}
#tabs button img {
  height: 16px;
}
#tabs button .title {
  flex: 1;
  overflow: hidden;
}
#tabs button .close {
  padding: 0px 5px;
  border-radius: 1rem;
}
#tabs button .close:hover {
  background-color: #383838;
}

.nav {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  border-bottom: 2px #383838 solid;
}
.nav input {
  flex: 1;
  padding: 8px;
  border-radius: 1rem;
}
.nav button {
  border-radius: 1rem;
}
.nav button:hover {
  background-color: #383838;
}

#box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
iframe {
  flex: 1;
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}