body {
  --base: #1a1a1a;
  --up: color-mix(in oklab, var(--base) 50%, #3a3a3a 50%);
  --top: color-mix(in oklab, #1a1a1a 50%, #585858 50%);
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  color: #ddd;
  font-family: Lexend, Arial, sans-serif;
  margin: 0px;
  background-color: var(--up);
  overflow: hidden;
}
* {
  transition: background 500ms;
}
h1 {
  margin: 0px;
}
a {
  color: #8af;
}
input {
  color: currentColor;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--base);
}
button {
  cursor: pointer;
  color: currentColor;
  padding: 5px;
  border: none;
  background: none;
}
button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}

dialog {
  color: #ddd;
  font-family: Lexend, Arial, sans-serif;
  padding: 10px;
  border: 2px var(--top) solid;
  border-radius: 1rem;
  background: var(--up);
  overflow: visible;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

#tabs {
  display: flex;
  height: 30px;
  background-color: var(--base);
}
#tabs div {
  display: flex;
  width: fit-content;
  height: 30px;
}
#tabs button {
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
  max-width: 175px;
  min-width: 0px;
  text-align: left;
  margin: 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  container-type: inline-size;
}
@container (max-width: 45px) {
  #tabs button .title {
    display: none;
  }
}
@container (max-width: 35px) {
  #tabs button[active] img {
    display: none;
  }
}
@container (max-width: 30px) {
  #tabs button:not([active]) .close {
    display: none;
  }
}
#tabs button:hover {
  background-color: var(--top);
}
#tabs button.add {
  flex: 0;
  min-width: 26px;
  border-radius: 1rem;
}
#tabs button[active] {
  margin-bottom: 0px;
  border-radius: 0.75rem 0.75rem 0px 0px;
  background-color: var(--up);
}
#tabs button img {
  height: 16px;
}
#tabs button .title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
#tabs button .close {
  padding: 0px 5px;
  border-radius: 1rem;
}
#tabs button .close:hover {
  background-color: var(--top);
}

.nav {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-bottom: 2px var(--top) solid;
}
.nav input {
  flex: 1;
  padding: 8px;
}
.nav button {
  border-radius: 1rem;
}
.nav button:hover {
  background-color: var(--top);
}

main, #box {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
}
iframe {
  flex: 1;
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

#settings {
  position: absolute;
  top: 0px;
  right: -30dvw;
  bottom: 0px;
  width: 30dvw;
  padding: 10px;
  border-left: 2px var(--top) solid;
  background: var(--up);
  box-sizing: border-box;
  transition: right 500ms, background 500ms;
}
#settings b, #settings label {
  display: block;
}
#settings b {
  font-size: 125%;
}
#settings input {
  color: #ccc;
  padding: 2px;
}
#settings button {
  color: #ccc;
  border-radius: 0.5rem;
  background-color: var(--base);
}

.title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.title img {
  height: 30px;
}

.themes {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
#settings .themes button {
  flex: 1;
  color: #ddd;
  background-color: var(--color);
  aspect-ratio: 16 / 9;
}

input[type="color"] {
  height: 25px;
  padding: 0px !important;
  border-radius: 5px;
}