body {
  display: flex;
  flex-direction: column;
  font-family: Lexend, Arial, sans-serif;
  width: 100dvw;
  height: 100dvh;
  color: #ddd;
  margin: 0px;
  padding: 8px;
  background: #222;
  box-sizing: border-box;
}
a {
  color: #79d;
}
svg {
  stroke: #ddd;
  fill: #ddd;
  margin-bottom: -3px;
}

dialog {
  color: #ddd;
  padding: 10px;
  border: 2px #888 solid;
  border-radius: 1rem;
  background: #222;
  overflow: visible;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}

#console {
  flex-direction: column;
  width: 45dvw;
  max-height: 70dvh;
}
#console[open] {
  display: flex;
}
#stdout {
  display: flex;
  flex-direction: column-reverse;
  height: 50dvh;
  overflow-y: auto;
}
#stdout p {
  margin: 0px;
  word-break: break-word;
  white-space: break-spaces;
}
#stdout .warn {
  color: #dd8;
}
#stdout .error {
  color: #d88;
}
.in {
  display: flex;
  gap: 5px;
}
.in textarea {
  flex: 1;
  color: #fff;
  font-size: 125%;
  border: 2px #888 solid;
  border-radius: 0.5rem;
  background-color: transparent;
  resize: none;
}
.in button {
  margin: 0px;
}

input, button, select {
  color: #ddd;
  padding: 3px;
  margin: 2px;
  border: 2px #888 solid;
  border-radius: 0.5rem;
  background-color: transparent;
}
input {
  min-width: 0px;
}
button {
  cursor: pointer;
  border-radius: 0.25rem;
  transition: 250ms;
}
button:hover {
  background-color: #fff2;
}
button.seamless {
  padding: 2.5px;
  margin: 0px;
  border: none;
  border-radius: 0.5rem;
}

iframe {
  flex: 1;
  border: 2px #888 solid;
  background: #fff;
}

.nav {
  display: flex;
  align-items: center;
}
.nav input {
  flex: 1;
}

.notice {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 90%;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border: 2px #dd8 solid;
  border-radius: 1rem;
  background: #221;
  box-sizing: border-box;
  transition: 1s;
}
.notice-p:hover .notice {
  opacity: 1;
  pointer-events: auto;
  transition: 250ms;
}

@media (max-width: 700px) {
  #console {
    width: 90dvw;
    max-height: 80dvh;
  }
}
